
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2>EF Code Approach</h2>
    <form action="/Home/Insert" method="post">

        <p><input type="text" name="StudID" placeholder="StudentID" /></p>
        <p><input type="text" name="StudName" placeholder="StudentName" /></p>
        <p><input type="submit" value="Insert" /> <a href="/home/Index/">Cancel</a></p>

    </form>div>
    </div>
</body>
</html>
