
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <form action="/Home/Create" method="post">

        <p><input type="text"  name="EmpID" placeholder="EmployeeID"  /></p>
        <p><input type="text"  name="EmpName" placeholder="EmployeeName" /></p>
        <p><input type="submit" value="Insert"/> <a href="/home/Index/">Cancel</a></p>

    </form>
</body>
</html>
