
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <form method="post" action="/Home/Delete/@Model.EmpId ">
        <p><input type="hidden" name="EmpID" placeholder="EmployeeID" value="@Model.EmpId" /></p>
        <p><input type="text" name="EmpID" placeholder="EmployeeID" value="@Model.EmpId" /></p>
        <p><input type="text" name="EmpName" placeholder="EmployeeName" value="@Model.EmpName" /></p>
        <p><input type="submit" value="Delete" /> <a href="/home/Index/">Cancel</a></p>
        <div>
        </div>
    </form>
  
</body>
</html>
